.btn-primary {
  background-color: #0d6efd !important;
  color: white !important;
  border-color: #0d6efd !important;
}

.btn-success {
  background-color: #198754 !important;
  color: white !important;
  border-color: #198754 !important;
}
